In [114]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [115]:
df=pd.read_csv('../Data/raw/train.csv')

In [116]:
df.head()

,id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,0,42,technician,married,secondary,no,7,no,no,cellular,25,aug,117,3,-1,0,unknown,0
1,1,38,blue-collar,married,secondary,no,514,no,no,unknown,18,jun,185,1,-1,0,unknown,0
2,2,36,blue-collar,married,secondary,no,602,yes,no,unknown,14,may,111,2,-1,0,unknown,0
3,3,27,student,single,secondary,no,34,yes,no,unknown,28,may,10,2,-1,0,unknown,0
4,4,26,technician,married,secondary,no,889,yes,no,cellular,3,feb,902,1,-1,0,unknown,1

In [117]:
df['contact'].unique()

array(['cellular', 'unknown', 'telephone'], dtype=object)

In [118]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750000 entries, 0 to 749999
Data columns (total 18 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   id         750000 non-null  int64
 1   age        750000 non-null  int64
 2   job        750000 non-null  object
 3   marital    750000 non-null  object
 4   education  750000 non-null  object
 5   default    750000 non-null  object
 6   balance    750000 non-null  int64
 7   housing    750000 non-null  object
 8   loan       750000 non-null  object
 9   contact    750000 non-null  object
 10  day        750000 non-null  int64
 11  month      750000 non-null  object
 12  duration   750000 non-null  int64
 13  campaign   750000 non-null  int64
 14  pdays      750000 non-null  int64
 15  previous   750000 non-null  int64
 16  poutcome   750000 non-null  object
 17  y          750000 non-null  int64
dtypes: int64(9), object(9)
memory usage: 103.0+ MB

In [119]:
# Merge rare categories
rare_jobs = ['self-employed', 'entrepreneur', 'housemaid','unemployed', 'student', 'unknown']

df['job'] = df['job'].replace(rare_jobs, 'other')

In [120]:
df['balance_bin'] = pd.qcut(
    df['balance'],
    q=[0, 0.1, 0.3, 0.7, 0.9, 1],  # Adjust quantiles based on distribution
    labels=["Negative", "Low", "Medium", "High", "Very High"]
)

In [121]:
age_bins = [18, 25, 35, 50, 65, 120]
df['age_bin'] = pd.cut(
    df['age'],
    bins=age_bins,
    labels=["18-25", "26-35", "36-50", "51-65", "65+"]
)

In [122]:
df['balance_shifted'] = df['balance'] - df['balance'].min() + 1 

df['log_balance'] = np.log(df['balance_shifted'])

In [123]:
education_map = {'unknown':0, 'primary':1, 'secondary':2, 'tertiary':3}
df['education']=df['education'].map(education_map)

In [124]:
# SAFE FEATURES (no leakage)
# 1. Client contact sensitivity (using previous campaign data)
df['contact_sensitivity'] = df['previous'] / (df['pdays'].replace(999, 0) + 1e-6)

# 2. Previous campaign engagement
df['prev_campaign_engaged'] = (df['poutcome'] == 'success').astype(int)

# 3. Historical contact responsiveness
df['responsiveness'] = np.select(
    [
        df['previous'] == 0,
        (df['previous'] > 0) & (df['poutcome'] == 'success'),
        (df['previous'] > 0) & (df['poutcome'] != 'success')
    ],
    ['new', 'responsive', 'unresponsive'],
    default='unknown'
)

In [125]:
df.head()

,id,age,job,marital,education,default,balance,housing,loan,contact,...,previous,poutcome,y,balance_bin,age_bin,balance_shifted,log_balance,contact_sensitivity,prev_campaign_engaged,responsiveness
0,0,42,technician,married,2,no,7,no,no,cellular,...,0,unknown,0,Low,36-50,8027,8.990566,-0.0,0,new
1,1,38,blue-collar,married,2,no,514,no,no,unknown,...,0,unknown,0,Medium,36-50,8534,9.051813,-0.0,0,new
2,2,36,blue-collar,married,2,no,602,yes,no,unknown,...,0,unknown,0,Medium,36-50,8622,9.062072,-0.0,0,new
3,3,27,other,single,2,no,34,yes,no,unknown,...,0,unknown,0,Medium,26-35,8054,8.993924,-0.0,0,new
4,4,26,technician,married,2,no,889,yes,no,cellular,...,0,unknown,1,Medium,26-35,8909,9.094817,-0.0,0,new

In [126]:
df.drop(['id','day','month','duration','age_bin','balance_bin','balance','balance_shifted','campaign','previous','default'],axis=1,inplace=True)

In [127]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750000 entries, 0 to 749999
Data columns (total 14 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   age                    750000 non-null  int64
 1   job                    750000 non-null  object
 2   marital                750000 non-null  object
 3   education              750000 non-null  int64
 4   housing                750000 non-null  object
 5   loan                   750000 non-null  object
 6   contact                750000 non-null  object
 7   pdays                  750000 non-null  int64
 8   poutcome               750000 non-null  object
 9   y                      750000 non-null  int64
 10  log_balance            750000 non-null  float64
 11  contact_sensitivity    750000 non-null  float64
 12  prev_campaign_engaged  750000 non-null  int64
 13  responsiveness         750000 non-null  object
dtypes: float64(2), int64(5), object(7)
memory usage: 80.1+ MB

In [130]:
import lightgbm as lgb
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import roc_auc_score

# ---- Load data (adjust paths if needed) ----
train = df   # or your preprocessed train DataFrame
# test  = pd.read_csv("test.csv")    # uncomment when you have test.csv

TARGET_COL = "y"
DROP_COLS  = ["id"]                  # keep all other features for max signal

X = train.drop(columns=[TARGET_COL]).copy()
y = train[TARGET_COL].astype(int)

# ---- Categorical columns (LightGBM native handling) ----
categorical_cols = ["job","marital","housing","loan","contact","poutcome",'responsiveness']

for c in categorical_cols:
    if c in X.columns:
        X[c] = X[c].astype("category")

# ---- Class weight for imbalance ----
neg, pos = int((y == 0).sum()), int((y == 1).sum())
scale_pos_weight = neg / max(pos, 1)
print(f"Class balance -> pos: {pos}, neg: {neg}, scale_pos_weight: {scale_pos_weight:.2f}")

# ---- LightGBM params (good starting point) ----
params = {
    "objective": "binary",
    "metric": "auc",
    "boosting_type": "gbdt",
    "learning_rate": 0.05,
    "num_leaves": 127,
    "min_data_in_leaf": 200,
    "feature_fraction": 0.9,
    "bagging_fraction": 0.9,
    "bagging_freq": 1,
    "max_bin": 255,
    "scale_pos_weight": scale_pos_weight,
    "verbosity": -1,
    "seed": 42,
}

# ---- Stratified K-Fold CV ----
n_splits = 5
kf = StratifiedKFold(n_splits=n_splits, shuffle=True, random_state=42)

oof = np.zeros(len(train))
auc_scores = []

models = []  # keep models if you want to ensemble or inspect feature importance

for fold, (tr_idx, va_idx) in enumerate(kf.split(X, y), 1):
    X_tr, X_va = X.iloc[tr_idx], X.iloc[va_idx]
    y_tr, y_va = y.iloc[tr_idx], y.iloc[va_idx]

    dtrain = lgb.Dataset(X_tr, y_tr, categorical_feature=categorical_cols, free_raw_data=False)
    dvalid = lgb.Dataset(X_va, y_va, categorical_feature=categorical_cols, free_raw_data=False)

    model = lgb.train(
        params,
        dtrain,
        num_boost_round=5000,
        valid_sets=[dtrain, dvalid],
        valid_names=["train", "valid"],
        callbacks=[
            lgb.early_stopping(stopping_rounds=200, verbose=False),
            lgb.log_evaluation(period=200)
        ],
    )

    pred_va = model.predict(X_va, num_iteration=model.best_iteration)
    oof[va_idx] = pred_va
    auc = roc_auc_score(y_va, pred_va)
    auc_scores.append(auc)
    models.append(model)
    print(f"Fold {fold}: AUC = {auc:.5f} | iters = {model.best_iteration}")

print(f"\nCV AUC: {np.mean(auc_scores):.5f} ± {np.std(auc_scores):.5f}")

# ---- (Optional) Feature importance ----
importances = pd.DataFrame({
    "feature": X.columns,
    "gain": np.mean([m.feature_importance(importance_type="gain") for m in models], axis=0),
    "split": np.mean([m.feature_importance(importance_type="split") for m in models], axis=0),
}).sort_values("gain", ascending=False)
display(importances.head(20))

Class balance -> pos: 90488, neg: 659512, scale_pos_weight: 7.29
[200]	train's auc: 0.8379	valid's auc: 0.824618
[400]	train's auc: 0.848969	valid's auc: 0.8252
[600]	train's auc: 0.857164	valid's auc: 0.82467
Fold 1: AUC = 0.82522 | iters = 416
[200]	train's auc: 0.838622	valid's auc: 0.821731
[400]	train's auc: 0.849497	valid's auc: 0.822147
Fold 2: AUC = 0.82218 | iters = 328
[200]	train's auc: 0.838757	valid's auc: 0.823012
[400]	train's auc: 0.849575	valid's auc: 0.823328
Fold 3: AUC = 0.82341 | iters = 316
[200]	train's auc: 0.838145	valid's auc: 0.823361
[400]	train's auc: 0.849143	valid's auc: 0.823923
Fold 4: AUC = 0.82395 | iters = 394
[200]	train's auc: 0.83847	valid's auc: 0.821874
[400]	train's auc: 0.849417	valid's auc: 0.822415
Fold 5: AUC = 0.82249 | iters = 321

CV AUC: 0.82345 ± 0.00109

                  feature          gain    split
9             log_balance  1.381191e+06  15034.4
6                 contact  5.970277e+05   1595.0
11  prev_campaign_engaged  4.807645e+05    157.8
0                     age  3.644604e+05   9442.2
7                   pdays  2.824517e+05   4292.6
4                 housing  2.664233e+05   1398.2
1                     job  1.380608e+05   5110.6
2                 marital  1.198401e+05   2101.8
5                    loan  1.095382e+05   1052.4
10    contact_sensitivity  5.975039e+04   2321.4
3               education  5.641038e+04   1846.0
12         responsiveness  1.422909e+04     58.8
8                poutcome  1.037271e+04    318.8